<div class="nav">
	<div class="container">
		<div class="user">
			<div class="no-login">
				<a class="link" href="./userlogin.html">登录</a>
				<a class="link" href="./user_register.html">注册</a>
			</div>
			<div class="login hide">
				<span >欢迎</span>
				<span class="username"></span>
				<a class="link" id="logout" href="javascript:;">退出</a>
			</div>
		</div>
		<ul class="nav-list">
			<li class="nav-iteam">
				<a class="link"  href="./order_list.html">我的订单</a>
			</li>
			<li class="nav-iteam">
				<a class="link"  href="./user_center.html">用户中心</a>
			</li>
			<li class="nav-iteam">
				<a class="link" href="./cart.html">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="shop-num">0</span>)
				</a>
			</li>
		</ul>
	</div>
</div>