<!DOCTYPE html>
<html lang="en">
<head>
	<%=require("html-loader!./common/header.html")  %>
	<title>
		<%= htmlWebpackPlugin.options.title %> —KMALL 电商网站
	</title>
</head>
<body>
	<%=require("html-loader!./common/nav.html")  %>
	<%=require("html-loader!./common/search.html")  %>
<div class="user-side clearfix">
	<div class="container">
		<%=require("html-loader!./common/side.html")  %>
		<div class="side-center">
			<div class="form-box">
			<div class="error-item hide">
				<i class="fa fa-minus-circle"></i>
				<p class="error-msg">error</p>
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-lock stylefont"></i>
				</label>	
					<input type="text" name="password" class="form-content" placeholder="请输入用密码">
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-lock stylefont"></i>
				</label>	
					<input type="password" name="password" class="form-content" placeholder="请重复输入用密码">
			</div>
			<div class="btn-item">
				<a href="javascript:;" class="btn" id="btn-submit">提交</a>
			</div>
		</div>
		</div>	
	</div>
</div>
	<%=require("html-loader!./common/footer.html")  %>
</body>
</html>