<!DOCTYPE html>
<html lang="en">
<head>
	<%=require("html-loader!./common/header.html")  %>
	<title>
		<%= htmlWebpackPlugin.options.title %> —KMALL 电商网站
	</title>
</head>
<body>
	<%=require("html-loader!./common/logo.html")  %>

<div class="form">
	<div class="container">
		<div class="form-box">
			<h2 class="title">用户注册</h2>
			<div class="error-item hide">
				<i class="fa fa-minus-circle"></i>
				<p class="error-msg">error</p>
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-user stylefont"></i>
				</label>	
					<input type="text" name="username" class="form-content" placeholder="请输入用户名">
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-lock stylefont"></i>
				</label>	
					<input type="password" name="password" class="form-content" placeholder="请输入密码">
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-lock stylefont"></i>
				</label>	
					<input type="password" name="password" class="form-content" placeholder="请重复输入密码">
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-phone stylefont"></i>
				</label>	
					<input type="text" name="phone" class="form-content" placeholder="请输入手机号">
			</div>
			<div class="form-item">
				<label class="form-lable">
					<i class="fa fa-envelope stylefont"></i>
				</label>	
					<input type="email" name="email" class="form-content" placeholder="请输入邮箱">
			</div>
			<div class="btn-item">
				<a href="javascript:;" class="btn" id="btn-submit">注册</a>
			</div>
			<div class="register-item">
				<a href="./userlogin.html" >已有用户名，去登陆</a>
			</div>
		</div>
	</div>
</div>
	<%=require("html-loader!./common/footer.html")  %>	
</body>
</html>