.nav{
	padding: 20px;
	font-size: 12px;
	background: #f3f3f3;
	overflow: hidden;	
}
.user{
	float: left;
}

.nav-list{
	float: right;
}
.link{
	text-decoration: none;
	color: #888;
}
.nav a:hover{
	color: #ff6700;
}
.nav-list .nav-iteam{
	float: left;
	margin-left: 10px;
}