.panel{
	padding: 10px;
	background-color: #fff;
}
.panel-header{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #666;
	border-bottom: 1px solid #fafafa;
}
.pandel-body{
	padding: 10px;
	overflow: hidden;
}

.shipping-item{
	float: left;
	margin-right: 10px;
	width: 30%;
	height: 150px;
	border: 4px dashed #ddd;
	cursor: pointer;

}
.shipping-item:hover .shipping-footer{
	visibility: visible;
}
.shipping-item.active{
	border-color: #f21;
}
.shipping-title{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	color: #666;
}
.shipping-detail{
	height: 60px;
	line-height: 30px;
	margin-top: 10px;
}
.shipping-footer{
	text-align: right;
	visibility: hidden;
	cursor: pointer;
}
.shipping-add{
	float: left;
	width: 280px;
	height: 157px;
	text-align: center;
	font-size: 30px;
	margin: 1px 10px 10px 0px;
	padding: 20px;
	box-sizing: border-box;
	border: 4px dashed #ddd;
	cursor: pointer;
}







.modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #666;
}
.modal .modal-container{
	width: 400px;
	height: 600px;
	background: #fff;
	margin:100px auto;
	padding: 10px;
}
.modal .modal-header{
	height: 40px;
	line-height: 40px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #000;
}
.modal .modal-title{
	float: left;
}
.modal .close-icon{
	float: right;
	margin-top: 12px;
	cursor: pointer;
}
.modal .close-icon:hover{
	color: #666;
}
.modal .modal-body .form-box{
	margin-top: 0px;

}
.modal .modal-body .form-box .form-item.city-item{
	border: none;
}
.modal .modal-body .form-box .form-item.city-item select{
	width: 100px;
	height: 30px;
	border-radius: 5px;
}